assetutilities
build
twine
bumpver
pyyaml
numpy
pandas
plotly
matplotlib
chardet
python-certifi-win32
webcolors
xlsxwriter
plantuml
pytest
deepdiff
pandoc
wkhtmltopdf
python-docx
black
isort
scrapy==2.12
bs4
gitpython==3.1.31
excel2img; sys_platform == 'win32'
PyPDF2
tabula
sympy>=1.13.3
utm
ruamel.yaml
jinja2
openpyxl
crochet

loguru

playwright

selenium
fake_headers

undetected-chromedriver 
parsel
